https://scikit-learn.org/stable/auto_examples/applications/plot_out_of_core_classification.html

# Extract Data

In [34]:
import tarfile
import os

TARFILE_NAME = "Reuters_classification_data.tar.gz"
FOLDER_NAME = "raw"

root_directory = os.path.dirname(os.getcwd()) + "/data"
archive_path = os.path.join(root_directory, TARFILE_NAME) 
data_path = os.path.join(root_directory, FOLDER_NAME) 

# Unzip tarfile and put individual text files into the "data" folder
# tarfile.open(archive_path, 'r:gz').extractall(data_path)

# Run Parser

In [35]:
import sys
from pathlib import Path

# jupyter notebook path
module_path = str(Path.cwd().parents[0] / "modules")

if module_path not in sys.path:
    sys.path.append(module_path)

from reuters_parser.reuters_parser import ReutersParser

In [36]:
from glob import glob
parser = ReutersParser()
for filename in sorted(glob(os.path.join(data_path, "*.sgm"))):
    parser.parse(open(filename, 'rb'))
    x = list(map(lambda x: x.to_json(), parser.reuters_factory))
    break

# Inspect Data

In [37]:
import pandas as pd

In [38]:
x = pd.DataFrame(x)
x

,id,datetime,topics,places,people,orgs,exchanges,companies,title,dateline,body
0,1,26-FEB-1987 15:01:01.79,[cocoa],"[el-salvador, usa, uruguay]",[],[],[],[],BAHIA COCOA REVIEW,"SALVADOR, Feb 26 -",Showers continued throughout the week in the B...
1,2,26-FEB-1987 15:02:20.00,[],[usa],[],[],[],[],STANDARD OIL <SRD> TO FORM FINANCIAL UNIT,"CLEVELAND, Feb 26 -",Standard Oil Co and BP North America Inc said ...
2,3,26-FEB-1987 15:03:27.51,[],[usa],[],[],[],[],TEXAS COMMERCE BANCSHARES <TCB> FILES PLAN,"HOUSTON, Feb 26 -",Texas Commerce Bancshares Inc's Texas Commerce...
3,4,26-FEB-1987 15:07:13.72,[],"[usa, brazil]",[],[],[],[],TALKING POINT/BANKAMERICA <BAC> EQUITY OFFER,"LOS ANGELES, Feb 26 -",BankAmerica Corp is not under pressure to act ...
4,5,26-FEB-1987 15:10:44.60,"[grain, wheat, corn, barley, oat, sorghum]",[usa],[],[],[],[],NATIONAL AVERAGE PRICES FOR FARMER-OWNED RESERVE,"WASHINGTON, Feb 26 -",The U.S. Agriculture Department reported the f...
...,...,...,...,...,...,...,...,...,...,...,...
995,996,3-MAR-1987 09:15:05.40,[],[usa],[],[],[],[],ASHTON-TATE <TATE> TO OFFER COMMON SHARES,"TORRANCE, Calif., March 3 -",Ashton-Tate said it intends to file for an off...
996,997,3-MAR-1987 09:15:33.28,[],[usa],[],[],[],[],KEYCORP <KEY> REGISTERS SUBORDINATED NOTES,"ALBANY, N.Y., Marc 3 -",KeyCorp said it has filed with the Securities ...
997,998,3-MAR-1987 09:15:47.27,[earn],[usa],[],[],[],[],<NATIONAL SEA PRODUCTS LTD> 4TH QTR NET,,"Oper shr 43 cts vs 21 cts Oper net 6,846,000 v..."
998,999,3-MAR-1987 09:16:02.85,"[money-fx, interest]",[uk],[],[],[],[],U.K. MONEY MARKET SHORTAGE FORECAST REVISED DOWN,"LONDON, March 3 -",The Bank of England said it had revised its fo...
999,1000,3-MAR-1987 09:17:32.30,[acq],[usa],[],[],[],[],NATIONAL AMUSEMENTS AGAIN UPS VIACOM <VIA> BID,"NEW YORK, March 3 -",Viacom International Inc said <National Amusem...

In [42]:
x.loc[0,"body"]

'Showers continued throughout the week in the Bahia cocoa zone, alleviating the drought since early January and improving prospects for the coming temporao, although normal humidity levels have not been restored, Comissaria Smith said in its weekly review. The dry period means the temporao will be late this year. Arrivals for the week ended February 22 were 155,221 bags of 60 kilos making a cumulative total for the season of 5.93 mln against 5.81 at the same stage last year. Again it seems that cocoa delivered earlier on consignment was included in the arrivals figures. Comissaria Smith said there is still some doubt as to how much old crop cocoa is still available as harvesting has practically come to an end. With total Bahia crop estimates around 6.4 mln bags and sales standing at almost 6.2 mln there are a few hundred thousand bags still in the hands of farmers, middlemen, exporters and processors. There are doubts as to how much of this cocoa would be fit for export as shippers are now experiencing dificulties in obtaining +Bahia superior+ certificates. In view of the lower quality over recent weeks farmers have sold a good part of their cocoa held on consignment. Comissaria Smith said spot bean prices rose to 340 to 350 cruzados per arroba of 15 kilos. Bean shippers were reluctant to offer nearby shipment and only limited sales were booked for March shipment at 1,750 to 1,780 dlrs per tonne to ports to be named. New crop sales were also light and all to open ports with June/July going at 1,850 and 1,880 dlrs and at 35 and 45 dlrs under New York july, Aug/Sept at 1,870, 1,875 and 1,880 dlrs per tonne FOB. Routine sales of butter were made. March/April sold at 4,340, 4,345 and 4,350 dlrs. April/May butter went at 2.27 times New York May, June/July at 4,400 and 4,415 dlrs, Aug/Sept at 4,351 to 4,450 dlrs and at 2.27 and 2.28 times New York Sept and Oct/Dec at 4,480 dlrs and 2.27 times New York Dec, Comissaria Smith said. Destinations were the U.S., Covertible currency areas, Uruguay and open ports. Cake sales were registered at 785 to 995 dlrs for March/April, 785 dlrs for May, 753 dlrs for Aug and 0.39 times New York Dec for Oct/Dec. Buyers were the U.S., Argentina, Uruguay and convertible currency areas. Liquor sales were limited with March/April selling at 2,325 and 2,380 dlrs, June/July at 2,375 dlrs and at 1.25 times New York July, Aug/Sept at 2,400 dlrs and at 1.25 times New York Sept and Oct/Dec at 1.25 times New York Dec, Comissaria Smith said. Total Bahia sales are currently estimated at 6.13 mln bags against the 1986/87 crop and 1.06 mln bags against the 1987/88 crop. Final figures for the period to February 28 are expected to be published by the Brazilian Cocoa Trade Commission after carnival which ends midday on February 27. Reuter '